<h3>Cpp source test page</h3>
<br />
<div class="container">

  <div class="fileUpload" style="display: {{ outputDisplay }}">
    <label>Select output template</label>
    <input type="file" (change)="onFileSelected($event)" />
    <input type="button" value="Upload output template" (click)="onUpload()" />
  </div>

  <div class="fileUpload" style="display: {{ cppDisplay }} ">
    <label>Select cpp source</label>
    <input type="file" (change)="onFileSelected($event)" />
    <input type="button" value="Upload source" (click)="onUpload()" />
  </div>

  <div class="fileUpload" style="display: {{inputDisplay }}">
    <label>Select input file</label>
    <input type="file" (change)="onFileSelected($event)" />
    <input type="button" value="Upload input" (click)="onUpload()" />
  </div>

</div>

<div class="container">
  <div id="serverResponse">Responses from server</div>
  <div id="compileBtn">
    <input type="button" value="Compile and run" (click)="runCMD()" />
  </div>
</div>



