<div class="container-fluid">
  <h1>Cpp source test page</h1>

  <ul class="pagination pagination-lg">
    <li class="page-item"><a class="page-link" routerLink="/user" routerLinkActive="active">User</a></li>
    <li class="page-item"><a class="page-link" routerLink="/admin" routerLinkActive="active">Admin</a></li>
  </ul>

</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <ul class="list-group" id="serverResponse">
        <li class="list-group-item">Source status</li>
      </ul>
    </div>
    <div class="col">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>
