<div class="container-fluid">
  <h1>Admin testing form</h1>
  <form #userForm="ngForm" novalidate>

    <div class="form-group">
      <div *ngIf="this.token === null">
        <label>Username</label>
        <input type="text" required #usernameModel="ngModel" class="form-control" name="username"
               [(ngModel)]="username" [ngModelOptions]="{standalone: true}"
               [class.is-invalid]="usernameModel.invalid && usernameModel.touched">

        <div *ngIf="usernameModel.errors && (usernameModel.invalid || usernameModel.touched)">
          <small class="text-danger" *ngIf="usernameModel.errors?.['required']">Username is required</small>
        </div>

        <label>Password</label>
        <input type="password" required #passwordModel="ngModel" class="form-control" name="password"
               [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
               [class.is-invalid]="passwordModel.invalid && passwordModel.touched">

        <div *ngIf="passwordModel.errors && (passwordModel.invalid || passwordModel.touched)">
          <small class="text-danger" *ngIf="passwordModel.errors?.['required']">Password is required</small>
        </div>
      </div>

      <div *ngIf="this.token !== null">

        <label>Description file</label>
        <input type="file" required #descriptionFileModel="ngModel" class="form-control" name="descriptionFile"
               [(ngModel)]="descriptionFile" [ngModelOptions]="{standalone: true}"
               [class.is-invalid]="descriptionFileModel.invalid && descriptionFileModel.touched"
               (change)="selectDescriptionFile($event)" value="">

        <div *ngIf="descriptionFileModel.errors && (descriptionFileModel.invalid || descriptionFileModel.touched)">
          <small class="text-danger" *ngIf="descriptionFileModel.errors?.['required']">Description file is
            required</small>
        </div>

        <ul class="list-group">
          <li *ngFor="let pairFile of this.pairFiles;
                      last as last;
                      index as index;"
              class="list-group-item">
            <div class="row">
              <div class="col-3">
                <label>Input file {{index + 1}}</label>
                <input type="file" required #inputFileModel="ngModel" class="form-control"
                       [(ngModel)]="this.pairFiles[index][0]" [ngModelOptions]="{standalone: true}"
                       [class.is-invalid]="inputFileModel.invalid && inputFileModel.touched"
                       (change)="selectInputFile($event, index)" value="">

                <div *ngIf="inputFileModel.errors && (inputFileModel.invalid || inputFileModel.touched)">
                  <small class="text-danger" *ngIf="inputFileModel.errors?.['required']">Input file is required</small>
                </div>
              </div>

              <div class="col-3">
                <label>Output file {{index + 1}}</label>
                <input type="file" required #outputFileModel="ngModel" class="form-control"
                       [(ngModel)]="this.pairFiles[index][1]" [ngModelOptions]="{standalone: true}"
                       [class.is-invalid]="outputFileModel.invalid && outputFileModel.touched"
                       (change)="selectOutputFile($event, index)" value="">

                <div *ngIf="outputFileModel.errors && (outputFileModel.invalid || outputFileModel.touched)">
                  <small class="text-danger" *ngIf="outputFileModel.errors?.['required']">Output file is required</small>
                </div>

              </div>
              <div class="col-1" *ngIf="last">
                <label>Add</label>
                <button [disabled]="inputFileModel.invalid || outputFileModel.invalid"
                        class="btn btn-success text-white" type="button" (click)="addFilePair()">+
                </button>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>

    <button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit"
            (click)="onSubmit()">Submit
    </button>
  </form>
</div>
